.pm-btn-dark {
    color: #fff;
    background-color: #343a40;
    padding:10px;
    border: none;
}


.pm-btn-primary {
    color: #fff;
    background-color: #3498db;
    padding:10px;
    border: none;
}